@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D8D8D8;
}
@layer components {
  .card{
    background-color: #ffffff;
    border-color: #E6E6E6;
    width: 830px;
    height: 320px;
    border-radius: 10px;
  }
  .text-white{
    color: #FAFAFA;
  }
  .text-dark{
    color: #212121;
  }
  .text-blue{
    color: #1597E4;
  }
  .btn-primary{
    background-color: #1597E4;
  }
  .btn-secondary{
    border-width: 1px;
    border-color: #1597E4;
  }
}