@tailwind base;
@tailwind components;
@tailwind utilities;

*{ outline: none;}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #D8D8D8;
  color: #212121;
}
@layer components {
  .card{
    background-color: #ffffff;
    border-color: #E6E6E6;
    border-radius: 10px;
  }
  .card-size{
    width: 830px;
    height: 320px;
  }
  .form-size{
    width:577px;
    height: 564px;
  }
  .text-white{
    color: #FAFAFA;
  }
  .text-dark{
    color: #212121;
  }
  .text-blue{
    color: #1597E4;
  }
  .btn-primary{
    background-color: #1597E4;
  }
  .btn-secondary{
    border-width: 1px;
    border-color: #1597E4;
  }
  .placeholder{
    color: #7A7A7A;
  }
  .grey-border{
    border: 1px solid #E6E6E6;
  }
  .text-red{
    color:#D86161;
  }
}